@keyframes display {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    height: 300px;
}

.pic-ctn>img {
    width: 260px;
    height: 285px;
    position: absolute;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

.conter {
    width: 100%;
    overflow: hidden;
    position: relative;

}


.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 60s infinite alternate linear;

}

.entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: white;
    margin: 1em;
    padding: 1em;
    border: 20px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.entry img {
    width: 250px;
    height: 300px;
}

@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc(-100% + (5*300px)));
    }
}



@media only screen and (max-width: 768px) {
    .items {
        animation: carouselAnim 30s infinite alternate linear;
    }
}

@media (max-width: 576px) {

    .entry img {
        width: 150px;
        height: 200px;
    }

}

@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc(-100% + (2*300px)));
    }
}

.faders {
    width: 100%;
    position: absolute;
    height: 100%;
}

.left, .right {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 0) 100%);
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 200;
}

.right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 0) 100%);
}