body {
    font-family: 'Poppins', sans-serif;
    /* Fonts:
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
    margin: 0;
}

/*Top*/
header {
    font-size: 15px;
}

.topline {
    font-family: 'Montserrat', sans-serif;
    height: 1.6em;
    background-color: #1c1e26;
}

.info {
    min-width: 675px;
    margin: 0 27em;
    padding: 0.2em 0 0 0;
    display: flex;
    justify-content: space-between;
}

.info span {
    color: #f7f7f7;
}

/*Navbar*/
.navbar {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    margin: 0.5em auto;
    min-width: 660px;
    /*border: solid 2px blue;*/
}

#logo {
    justify-self: start;
    padding: 0.5em 0 0 0;
    width: 7em;
    height: 2em;
}

.navbar ul, li {
    display: inline;
}

.navbar ul {
    margin-left: 20em;
    margin-right: 2em;
    padding: 0;
    display: flex;
    flex: 1;
    max-width: 85%;
    min-width: 550px;
    justify-content: flex-end;
    gap: 2em;
    /*border: solid 2px green;*/
}

.navbar .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar a {
    font-weight: 400;
    color: #9ab;
    text-decoration: none;
    transition: color .2s;
}

.navbar a:hover {
    color: #adf;
}

/*Image*/
#bgimage {
    height: 400px;
    /*background-color: aqua;*/
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url("https://www.polska.travel/images/pl-PL/glowne-miasta/krakow/krakow_sukiennice_noca_1170.jpg");
    background-size: cover;
    background-position: 0 15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid 2px red;*/
}

#bgimage h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;
    color: white;
}

/*Content*/
main {
    font-family: 'Poppins', sans-serif;
    margin: 2em 17em;
    font-size: 20px;
}

main h2 {
    text-align: center;
    margin: 0;
}

.content {
    margin: 2em, 0;
    padding: 2em, 0;
}

.text-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    /*border: solid 2px red;*/
}

.text-content p {
    margin: 0;
}

.text-content-inv {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 2em;
}

.text-content-inv p {
    margin: 0;
}

.text-content img {
    min-width: 20%;
}

.text-content-inv img {
    min-width: 20%;
}


.flex-box_1 {
    display: flex;
    flex-flow: row wrap;
}



/*
.header_2 {
    margin: 0px;
    padding: 0px;
    border-color: #000000;
    border-width: 5px;
    border: solid;
    display: block;
}

.card_main {
    align-self: middle;
    border: solid;
    border-width: 4px;
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

menu {
    display: flex;
    list-style: none;
    padding: 0;
}


nav a {
    display: block;
    height: 50px;
    background: #ffffff;
    border-color: #000000;
    border: solid;
    border-width: 1px;
    text-align: center;
    margin: 0px;
}




.links {
    background-color: #ffffff;
    border-bottom: 1px solid #0003;
    font-weight: 300;
    margin-left: 150px;
}



/*
.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
} */

/*
.links {
    display: inline-grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

/*
.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}
.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); } */