/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*border: solid 2px blue;*/
/*border: solid 2px green;*/
/*border: solid 2px red;*/

body {
    font-family: 'Poppins', sans-serif;
    /* Fonts:
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
    margin: 0;
}

/*Top*/
header {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.topline {
    margin: 0;
    padding: 0.2em 0 0 0;
    font-family: 'Montserrat', sans-serif;
    height: 1.6em;
    background-color: #1c1e26;
    display: flex;
    justify-content: center;
    flex: 1;
}

.info {
    margin: 0 27em;
    color: #f7f7f7;
    display: flex;
    flex: 1;
    min-width: 890px;
    justify-content: space-between;
}

/*Navbar*/
.navbar {
    font-size: 1em;
    /* Na czas braku loga nie ma powodu to uzywac
    justify-content: space-between;
    */
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

/*
#logo {
    padding: 0.5em 0 0 0;
    width: 7em;
    height: 2em;
}
*/

.navbar ul, li {
    display: inline;
}

.navbar ul {
    margin: 1em 27em;
    padding: 0;
    display: flex;
    flex: 1;
    min-width: 890px;
    justify-content: space-between;
}

.navbar .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar a {
    font-weight: 400;
    color: #9ab;
    text-decoration: none;
    transition: color .2s;
}

.navbar a:hover {
    color: #adf;
}

/*Image*/
#bgimage {
    height: 400px;
    /*background-color: aqua;*/
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url("https://www.polska.travel/images/pl-PL/glowne-miasta/krakow/krakow_sukiennice_noca_1170.jpg");
    background-size: cover;
    background-position: 0 15%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bgimage>div {
    margin: 0 19.5em;
    color: white;
    text-align: right;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#quote {
    max-height: 116px;
    min-width: 580px;
    font-size: 3em;
}

#author {
    font-size: 1em;
    margin: 0 2em;
}

/*Content*/
main {
    font-family: 'Poppins', sans-serif;
    margin: 2em 17em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

main h2 {
    font-size: 30px;
    border-bottom: 1px solid #e1f1ff;
    text-align: center;
    margin: 0;
}

.content {
    min-width: 1000px;
}

.text-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

}

/*border: solid 2px blue;*/
/*border: solid 2px green;*/
/*border: solid 2px red;*/

.text-content-inv {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 1em;
}

.content img {
    min-width: 200px;
    max-width: 220px;
    min-height: 200px;
    max-height: 220px;
}