/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*border: solid 2px blue;*/
/*border: solid 2px green;*/
/*border: solid 2px red;*/

body {
    font-family: 'Poppins', sans-serif;
    /* Fonts:
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
}

/*
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
*/

main {
    max-width: 100%;
    overflow-x: hidden;
}

/*Top*/
header {
    font-size: 15px;
}

.topline {
    padding: 0.2em 0 0 0;
    font-family: 'Montserrat', sans-serif;
    height: 1.6em;
    background-color: #1c1e26;
    display: flex;
    justify-content: center;
    flex: 1;
}

.info {
    margin: 0 6em;
    color: #f7f7f7;
    display: flex;
    flex: 1;
    min-width: 375px;
    justify-content: space-between;
}

/*
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
*/

/*Image*/
.bgimage {
    height: 400px;
    /*background-color: aqua;*/
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainpage {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
        url("../images/mainpage.jpg");
    background-position: 0 85%;
    background-repeat: no-repeat;
    background-size: cover;
}

#offerpage {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/offer.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#rzeszowimg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url("../images/rzeszow-miasto.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#krakowimg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("../images/krakow-miasto.jpg");
    background-position: 0 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

#lublinimg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("../images/lublin-miasto.jpg");
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonalpage {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/experience.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#gallerypage {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/gallery.jpg");
    background-position: 0 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactpage {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/contact.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockquote p {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.blockquote footer {
    color: rgba(255, 255, 255, 0.493);
}

.bgpictures {
    transition: transform 300ms ease;
}

.bgpictures:hover {
    transform: scale(1.1);
}

#img6 {
    position: absolute;
    left: -500px;
    top: -75px;
}

#img7 {
    position: absolute;
    left: 450px;
    top: -75px;
}

.nav-link.active {
    color: rgba(57, 136, 74, 0.527) !important;
    transition: color .2s;
}

.nav-link.active:hover {
    color: rgba(17, 61, 27, 0.527) !important;
}

.bi-facebook {
    font-size: 2rem;
    color: black;
    transition: color .3s;
}

.bi-facebook:hover {
    color: rgba(57, 136, 74, 0.527);
}

.aboutus .col {
    font-size: 1.35em;
    padding: 0;
}

.aboutus .col-xl-2 {
    padding: 0;
}

.pimage {
    height: auto;
    margin: 0;
}

.primage {
    height: 12em;
}

#img1 {
    background: url("../images/School.jpg");
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img2 {
    background: url("../images/Globe.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img3 {
    background: url("../images/excellence.jpg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img4 {
    background: url("../images/accredation.jpg");
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img5 {
    background: url("../images/nations.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img8 {
    background: url("../images/internship.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img9 {
    background: url("../images/improvement.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img10 {
    background: url("../images/training.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img11 {
    background: url("../images/schoolfacility.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img12 {
    background: url("../images/following.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#img13 {
    background: url("../images/ideas.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



#list-values {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 2em;
    cursor: default;
}

#list-values strong {
    font-size: 2em;
    color: rgba(10, 148, 40, 0.527);
    transition: color 1s;
}

#list-values strong:hover {
    color: rgba(17, 153, 142, 0.808);
}

#listofvalues {
    font-size: 0.9em;
    margin: 0.5em 0;
    list-style: none;
}

#listofvalues li {
    margin: 0.7em 0;
}

#listofvalues span {
    color: rgb(5, 182, 40);
}

footer .row {
    margin-right: 0;
}

#contact .card:hover i, #contact .card:hover h4 {
    color: #87d37c;
}

.city h2 {
    font-size: 2em;
}

@media screen and (min-width: 1200px) {

    .navbar-brand {
        margin-right: 2em;
    }

    .dropdown-menu {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    #navbarSupportedContent>a {
        margin-left: 4em;
    }

    .navbar-nav {
        margin: 0 1em;
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    .leftyboy {
        padding-left: 0.6em !important;
    }

    #img1 {
        background-size: 270px;
        background-position: 80% 50%;
    }

    #img3 {
        background-size: 300px;
    }

    #img5 {
        background-position: 45% 50%;
        background-size: 220px;
    }

}





@media screen and (max-width: 1199px) {

    .blockquote footer {
        margin: 0 20px;
    }

    .blockquote p {
        margin: 0 20px;
    }

    #navbarSupportedContent>a {
        margin-left: 1em;
    }

    .aboutus {
        text-align: center;
        font-size: 0.9em;
        margin: 0 16em;
    }

    #list-values {
        font-size: 1.6em;
        margin-bottom: 2em;
    }

    #img6 {
        left: -250px;
        top: -75px;
    }

    #img7 {
        left: 250px;
        top: -75px;
    }

    .city ul {
        margin-right: 0.5rem;
    }

}

@media screen and (max-width: 1050px) {

    .city ul {
        padding-left: 2em;
    }

    .city #events {
        padding-left: 1em;
    }

    .bgimage {
        background-position: 65% 85%;
    }

}

@media screen and (max-width: 900px) {

    #list-values {
        font-size: 1.3em;
        margin-top: 0em;
    }

    .aboutus {
        font-size: 0.8em;
        margin: 0 19em;
    }

}

@media screen and (max-width: 793px) {

    .aboutus {
        margin: 0 11em;
    }

    #img6 {
        width: 50%;
        left: -130px;
        top: -26px;
    }

    #img7 {
        width: 50%;
        left: 230px;
        top: -26px;
    }

    .city {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 560px) {

    .blockquote p {
        text-align: center !important;
    }

    .blockquote footer {
        text-align: center !important;
    }

    .aboutus {
        font-size: 0.8em;
        margin: 0 7em;
    }

    #img6 {
        width: 50%;
        left: -130px;
        top: -26px;
    }

    #img7 {
        width: 50%;
        left: 230px;
        top: -26px;
    }

    .city {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 469px) {

    #list-values {
        font-size: 1.1em;
    }

    .aboutus {
        font-size: 0.7em;
        margin: 0 5em;
    }

    #img6 {
        width: 25%;
        left: -65px;
        top: 5px;
    }

    #img7 {
        width: 25%;
        left: 215px;
        top: 5px;
    }

}

@media screen and (max-width: 384px) {

    .blockquote p {
        font-size: 1.5em;
    }

    .topline {
        display: none;
    }

    #list-values {
        font-size: 1em;
    }

    .aboutus {
        font-size: 0.5em;
        margin: 0 6em;
    }

    .primage {
        height: 9em;
    }

    #img4 {
        background-position: 50% 30%;
    }

    #img6 {
        width: 25%;
        left: -57px;
        top: 5px;
    }

    #img7 {
        width: 25%;
        left: 180px;
        top: 5px;
    }

}

@media screen and (max-width: 300px) {

    #img6 {
        width: 25%;
        left: 63px;
        top: -70px;
    }

    #img7 {
        width: 25%;
        left: 63px;
        top: 70px;
    }

}

#imgguide {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
        url(../images/european_flag.jpg) center no-repeat;
    min-width: 100%;
    height: 800px;
}

.city p {
    font-size: 1.1em;
}

.city #museums {
    font-size: 1em;
    line-height: 2em;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}

.js .animate-box {
    opacity: 0;
}